input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

textarea {
  min-height: 7rem;
}

.radio-wrapper {
    position: relative;
    width: fit-content;
    margin: 0;
  
    span {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid var(--col-secondary);
      position: absolute;
      top: 0;
      left: 0;
      background: var(--col-primary);
      cursor: pointer;
      color: var(--col-secondary);
      
      &:hover {
        background: var(--col-tertiary);
        color: var(--col-primary);
      }
    }
  
    input {
      width: 2rem ;
      height: 2rem;
      margin: 0;
      opacity: 0;
    }
    
    input:checked + span {
      background: var(--col-secondary);
      color: var(--col-primary);
      border-color: var(--col-secondary);
    }
  
    input:focus-visible + span {
      outline: 2px solid blue;
    }
  }