@import './normalize';
@import './buttons';
@import './forms';

:root {
  --col-primary: black;
  --col-secondary: white;
  --col-tertiary: #eee;
  --col-danger: red;
}

html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;

  * {
    box-sizing: inherit;
  }
}

body {
  padding-top: 2rem;
  background: var(--col-secondary);
}

p,
label {
    font-size: 1.5rem;
    margin-block: 1.5rem;
    display: block;
}

.account-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    margin-block: 1rem;
}