@import './normalize';
@import './buttons';
@import './forms';
@import './account';

:root {
  --col-danger: red;
  --col-black: #000;
  --col-dark-gray: #555;
  --col-gray: gray;
  --col-mid-gray: #999;
  --col-light-gray: #ddd;
  --col-offwhite: #eee;
  --col-white: #fff;
  --col-orange: yellow;

  --border-radius: .5rem;
}

html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;

  * {
    box-sizing: inherit;
  }
}

body {
  background: var(--col-gray);
  color: var(--col-white);
}

p,
label {
    font-size: 1.25rem;
    margin-block: 1.5rem;
    display: block;
}

a {
  color: var(--col-orange);
}

.container {
  max-width: 576px;
  margin: auto;
  margin-top: 3rem;
  min-height: calc(100vh - 10rem);
}